<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
      <form class="" action="/submit" method="post">
        Email ID:<input type="text" name="email" value="">
        <br>
        First Name:<input type="text" name="fname" value="">
        <br>
        Last NAme:<input type="text" name="lname" value="">
        <br>
        Enter Password:<input type="password" name="password" value="">
        <br>
        Confirm Password:<input type="password" name="conpass" value="">
        <br>
        <input type="submit" name="" value="Submit">
      </form>
  </body>
</html>
